<div class="flex-d">
<%= link_to "Pending Approval", pending_bookings_path, class: "btn btn-primary" %>
<%= link_to "Active", active_bookings_path, class: "btn btn-primary" %>
<%= link_to "Completed", completed_bookings_path, class: "btn btn-primary" %>
<%= link_to "Rejected", rejected_bookings_path, class: "btn btn-primary" %>
</div>
