<div class="homepage-container">
<div class="logo-container">
<%# <%= image_tag 'logo.png', alt: 'Containers R Us Logo', class: 'logo' %> %>
  </div>

<h1>Welcome to Containers R Us</h1>
<p>Book your shipping containers with ease.</p>
<%= link_to 'View Available Containers', containers_path, class: 'btn btn-primary' %>

 <div class="image-container">
    <%= image_tag 'container.jpg', alt: 'Shipping Container', class: 'centered-image' %>
  </div>
</div>
