<div class="homepage-container">
<div class="logo-container">
<%= cl_image_tag("zr2gnzh1bl969vk25zju", class: "logo-container logo") %>
  </div>

<h1>Welcome to Containers R Us</h1>
<p>Book your shipping containers with ease.</p>
<%= link_to 'View Available Containers', containers_path, class: 'btn btn-primary' %>

 <div class="image-container">
    <%= cl_image_tag("so94yf0niwf2p36rawxd", class: "centered-image") %>
  </div>
</div>
