<div class="homepage-container" style="width: 100%">
  <div class="banner" style="width: 100%; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.shutterstock.com/image-photo/aerial-view-large-industrial-container-600nw-2509185793.jpg);">
    <div class="container">
      <h1>Welcome to Containers R Us</h1>
      <p>Book your shipping containers with ease.</p>
      <%= link_to 'View Available Containers', containers_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
