// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";


@import "components/index";
@import "pages/index";

/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.homepage-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #006994, #00b3fd);
  color: #ffffff;
  text-align: center;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}

.homepage-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.homepage-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.homepage-container .btn-primary {
  background-color: #00577a;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.homepage-container .btn-primary:hover {
  background-color: #004b6a;
}

.image-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-image {
  width: 600px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 10px;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 12px;
}

@media (max-width: 600px) {
  .centered-image {
    width: 90%;
  }

  .logo {
    width: 70px;
  }
}
